h1
  font-family: 'Lobster', cursive
.main
  text-align: left
  padding-top: 20px
.flash-wrap
  margin-top: 10px
.icon-awesome
  display: block
.with-pad
  padding: 8px
.below-bar
  background: #eee
  form
    margin: 0
  .input-append
    margin-bottom: 0
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
  height: auto
.well
  color: #333
  font-size: 12px
  line-height: 25px
.new_event,.edit_event
  input[type="text"], textarea
    width: 80%
#map
  border: 1px solid #DDD
  width: 600px
  height: 300px
  margin: 0px 0 0 10px